<footer class="footer">
  <a href=""
    ><img
      class="arrow-footer"
      src="./assets/images/ico-arrow.svg"
      alt="arrow-footer"
  /></a>
  <nav class="nav">
  <ul">
    <li class="list">Articles</li>
    <li class="list">Books</li>
    <li class="list">Events</li>
    <li class="list">Reasons</li>
    <li class="list">Tips</li>
<li class="item-space">espace</li>
    <li class="list">Twitter</li>
    <li class="list">Instagram</li>
    <li class="list">Mastodon.social</li>
  </ul>
</nav>
<p class="copy">&COPY;2022</p>
<small class="small">we<span class="hearth">❤︎</span>components</small>
</footer>
