<footer class="footer">
  <a href="./index.html#hero"
    ><img
      class="arrow-footer"
      src="./assets/images/ico-arrow.svg"
      alt="arrow-footer"
  /></a>
  <nav class="nav">
    <ul class="ul-1">
      <li class="list-1"><a class="link" href="https://adalab.es/">Articles</a></li>
      <li class="list-1"><a class="link" href="https://adalab.es/">Books</a></li>
      <li class="list-1"><a class="link" href="https://adalab.es/">Events</a></li>
      <li class="list-1"><a class="link" href="https://adalab.es/">Reasons</a></li>
      <li class="list-1"><a class="link" href="https://adalab.es/">Tips</a></li>
    </ul>
    <ul>
      <li class="list-2"><a class="link" href="https://adalab.es/">Twitter</a></li>
      <li class="list-2"><a class="link" href="https://adalab.es/">Instagram</a></li>
      <li class="list-2"><a class="link" href="https://adalab.es/">Mastodon.social</a></li>
    </ul>
  </nav>
 
  <p class="copy">&COPY;2022</p>
  <small class="small">we<span class="hearth"> ❤︎ </span>components</small>
</footer>
