<main class="main">
  <section class="hero" id="hero">
    <h1 class="hero__title">Anonymous proxy</h1>
    <h3 class="hero__subtitle">In hac habitasse platea dictumst.</h3>
    <a href="./index.html#blue-section"
      ><img
        class="hero__arrow"
        src="./assets/images/ico-scroll-down.svg"
        alt="arrow"
        title="arrow"
    /></a>
  </section>

  <section class="white">
    <article class="white__article">
      <h4 class="white__h4">Insomnia tips</h4>
      <h2 class="white__title">Looking through a window</h2>
      <p class="white__p">
        Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
        luctus ex diam nec lectus. Vivamus semper sodales rutrum.
      </p>
    </article>
    <button class="white__button">Go</button>
  </section>

  <section class="blue" id="blue-section">
    <h2 class="blue__title">3 reasons to purchase</h2>
    <article class="blue__article">
      <div class="blue__div">
        <h3 class="blue__h3">Ut sed metus</h3>
        <p class="blue__p">Lorem ipsum dolor sit amet, consecteur.</p>
      </div>

      <div class="blue__div">
        <h3 class="blue__h3">Curabitur ac erat</h3>
        <p class="blue__p">Mauris mattis urna quis lorem molestie.</p>
      </div>

      <div class="blue__div">
        <h3 class="blue__h3">Morbi dictum</h3>
        <p class="blue__p">Aliquam in dolor et dolor tincidunt.</p>
      </div>
    </article>
    <div>
      <button class="blue__button">More reasons</button>
    </div>
  </section>
</main>
