<main class="main">
    <section class="hero">
        <h1 class="title">Anonymous proxy</h1>
        <h3 class="subtitle">In hac habitasse platea dictumst.</h3>
        <img class="arrow" src="./assets/images/ico-scroll-down.svg" alt="arrow" title="arrow" />
        </section>

        <section class="white-section">
        <article class="white-article">
            <h4 class="insomnia-tips">Insomnia tips</h4>
            <h2 class="title-white">Looking through a window</h2>
            <p class="p-white">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
        </article>
            <button class="go">Go</button>
        </section>
 
</main>
