// fonts
$font-1: 'Roboto', sans-serif;
$font-2: 'Roboto slab';

// colors
$orange:#f26002;
$white: #ffffff;
$light-blue: #8ccbea;
$blue:#0271bc;
$dark-blue:#304268;
$blue-section-background: #eff9ff;
