.blue-section {
  background-color:$blue-section-background;
  display: grid;
  grid-template-rows: auto auto;
  text-align: center;
}

.title-blue {
  font-family:$font-2;
  text-transform: capitalize;
  font-size: 24px;
  margin-top: 29px;
  font-weight: bold;
}

.subtitle-blue-1 {
  font-family: $font-2;
  font-size: 18px;
  margin-top: 49px;
}
.subtitle-blue-2 {
  font-family: $font-2;
  font-size: 18px;
  margin-top: 44px;
}

.subtitle-blue-3 {
  font-family: $font-2;
  font-size: 18px;
  margin-top: 44px;
}

.text-blue-1{
    font-family:$font-1;
    font-size: 18px;
    margin: 1px 2px 0;
    width: 180px;
}
.text-blue-2{
  font-family:$font-1;
  font-size: 18px;
  margin: 1px 2px 0;
  width: 180px;
}
.text-blue-3{
  font-family:$font-1;
  font-size: 18px;
  margin: 1px 2px 0;
  width: 180px;
}



.more-reasons{
    font-family: $font-1;
    font-size: 20px;
    font-weight: 500;
    color:$white; 
    border: 2px 2px 2px 2px;
    border-radius: 22.5px;
    background-color:$orange;
    border-color: $orange;
    width: 184px;
    height: 45px;
    margin-top: 41px;
    margin-bottom: 60px;
    border-style: solid;
}

.more-reasons:hover{
  transform:scale(1.1);
  width: 250px;
  transition: width 0.6s;
  cursor: pointer;
 
}

@media all and (min-width: 768px) {
 .title-blue{
  margin-top: 36px;
  font-size: 26px;
 }

 .subtitle-blue-1{
  margin-top: 44px;
  font-size: 24px;

 }
 .subtitle-blue-2{
  font-size: 24px;
 }
 .subtitle-blue-3{
  font-size: 24px;
 }
  .article-blue{
  display: flex;
  gap: 30px;
    
  }
  .text-blue-1{
    font-size: 20px;
    width: 212.3px;
    margin-top: 18px;
  }

  .text-blue-2{
    font-size: 20px;
    width: 212.3px;
    margin-top: 18px;
  }

  .text-blue-3{
    font-size: 20px;
    width: 212.3px;
    margin-top: 18px;
  }
  .more-reasons{
    margin-top: 67px;
    width: 210px;
  }
}


@media all and (min-width: 1280px) {

  .title-blue{
    margin-top: 61px;
    font-size: 32px;
   }
.article-blue{
  width: 100vw;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
}
.subtitle-blue-1{
  margin-left: 85px;
}

.subtitle-blue-3{
  margin-right: 85px;
}

.text-blue-1{
margin-left: 85px;
width: 340px;

}
.text-blue-2{
  width: 400px;

}

.text-blue-3{
  margin-right: 85px;
  width: 400px;
  
  }
  .more-reasons{
    width: 255px;
  }

  .more-reasons:hover{
    width: 320px;
  
   
  }
}