.footer {
  background-color:$dark-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

&__arrow {
  transform: translatey(-22.5px);
  background-color: $white;
  width: 45px;
  height: 45px;
  padding: 11px 12.4px 10px 12px;
  border-radius: 22.5px;
  animation-name: footer__arrow;
  animation-duration:2.3s;
  animation-iteration-count:infinite;
  animation-timing-function: linear;

  @keyframes footer__arrow {
    50% {
   transform: translatey(-13px);
    } 

  }
  
  &__ul {
    padding-bottom: 30px;
  }
}
}

.footer__list--1 {
  list-style: none;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-family: $font-1;
  line-height: 1.88;
}

.footer__list--2 {
  list-style: none;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-family: $font-1;
  line-height: 1.88;
}

.footer__link {
  text-decoration: none;
  color: $white;
}

.footer__div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__div--small {
  color: $white;
  font-family: $font-1;
  font-size: 14px;
  margin-bottom: 60px;
  line-height: 2.14px;
}
.footer__div--copy {
  color: $white;
  font-family: $font-1;
  font-size: 14px;
  margin-top: 32px;
  padding-bottom: 15px;
}
.footer__div--hearth {
  color: $orange;
}

@media all and (min-width: 768px) {
  .footer__nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
  }

  .footer__ul--1 {
    order: 2;
  }

  .footer__ul--2 {
    order: 3;
  }
  .footer__div {
    order: 1;
    align-items: baseline;
    margin-left: 39px;
  }

  .footer__list--1{
    text-align: left;
  }
  .footer__list--2{
    text-align: left;
    margin-right: 150px;
  }

  .footer__div--copy{
    margin-top: 5px;
  }
  
}
@media all and (min-width: 1280px) {
  .nav {
    width: 100vw;
    display: flex;
    justify-content: space-around;
  }
  .footer__div {
    margin-left: 370px;
  }

  .footer__list--2{
    margin-right: 370px;
  }
}