.header {
  background-color: $blue;
  height: 22px;
  width: 37.1px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.menu {
  margin-bottom: 10.2px;
}

@media all and (min-width: 768px) {
.header{
  height: 44px;
  width: 41.6px;

}
.menu{
  margin-bottom: 0px;

 } 
}
@media all and (min-width: 1280px){
  .header{
    width: 44px;
  }
}