.header {
  background-color: #0271bc;
  height: 22px;
  width: 37.1px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.menu {
  margin-bottom: 10.2px;
}
