.white-section {
  display: flex;
  justify-content: flex-start;
  text-align: start;
  flex-direction: column;
}

.white-article{
    margin-left: 15px;
    margin-top: 61.9px;
}
.insomnia-tips {
  font-family: "Roboto";
  font-size: 14px;
  color: #8ccbea;
  text-transform: capitalize;
  margin-bottom: 10px;
}
 .title-white{
    font-family: 'Roboto slab';
    font-weight: bold;
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.p-white{
    font-family:'Roboto';
    font-weight: 300;
    font-size: 18px;
}

.go{
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    color:#f26002; 
    border-radius: 22.5px;
    border-color:#f26002;
    background-color: white;
    width: 76px;
    height: 45px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 15px;
    border-style: solid;
   
}

.go:hover{
  transform:scale(1.1);
  background-color: #f26002;
  border-color: transparent;
  color: white;
  transition: 0.7s;
  cursor: pointer;

}

@media all and (min-width: 768px) {
  .title-white{
    font-size: 26px;
  }
  .p-white {
    font-size:18px;}
  .go{
    margin-bottom: 60px;
  }
}